body {
  overflow-x: hidden;
}

.hover {
  &-underline {
    a:hover {
      text-decoration: underline;
    }
  }
}

.darker {
  filter: brightness(0.5);
}

.brightness {
  filter: brightness(500);
}
