<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body class="d-flex flex-column h-100">
    <header class="position-relative px-0 py-2">
      <nav class="navbar navbar-expand-lg navbar-light p-0">
        <div class="container-fluid container-lg">
          <h1>
            <a class="navbar-brand logo ml-4 ml-lg-0" href="index.html"
              >D'PERFUME</a
            >
          </h1>
          <div class="d-flex d-lg-none">
            <a class="nav-link h5" href="#">
              <i class="fas fa-shopping-cart text-dark"></i>
              <span
                class="badge badge-pill badge-primary"
                style="transform: translateX(-7px) translateY(-8px)"
              >
                3
              </span>
            </a>
            <button
              class="navbar-toggler border-0"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarSupportedContent"
          >
            <ul class="nav navbar-nav">
              <li class="nav-item h5 px-1 py-2 py-lg-0 mb-0">
                <a class="nav-link text-center" href="products.html">
                  <i class="fas fa-store-alt d-none d-lg-inline-block"></i>
                  Product
                </a>
              </li>
              <li
                class="nav-item h5 px-1 py-2 py-lg-0 order-last order-lg-2 mb-0"
              >
                <a class="nav-link text-center" href="login.html">
                  <i class="fas fa-user-alt d-none d-lg-inline-block"></i>
                  <% if (title === "Mypage") { %> Mypage <% } else { %> log in
                  <% } %>
                </a>
              </li>
              <li class="nav-item h5 px-1 py-2 py-lg-0 order-2 order-lg-3 mb-0">
                <a class="nav-link text-center" href="#">
                  <i class="fas fa-heart d-none d-lg-inline-block"></i>
                  Wishlist
                </a>
              </li>
              <li class="nav-item h5 px-1 py-2 py-lg-0 order-3 mb-0">
                <a class="nav-link d-lg-none text-center" href="#">Blog</a>
              </li>
              <li class="nav-item h5 px-1 py-2 py-lg-0 order-4 mb-0">
                <a class="nav-link d-lg-none text-center" href="#">Contact</a>
              </li>
              <li
                class="nav-item h5 px-1 py-2 py-lg-0 d-none d-lg-inline-block order-lg-last mb-0"
              >
                <a class="nav-link" href="#">
                  <i class="fas fa-shopping-cart"></i>
                  Cart(3)
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="flex-shrink-0">
      <% if (title === "D'PERFUME") { %> <% } else { %>
      <div class="productNav bg-primary text-white d-none d-md-block">
        <div class="container">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link px-0 mr-3 rounded-0" href="#">CHANEL</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-0 mr-3 rounded-0" href="#">Jo Malone</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-0 mr-3 rounded-0" href="#">Curology</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-0 mr-3 rounded-0" href="#">Dio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-0 mr-3 rounded-0" href="#">Chloe</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-0 rounded-0" href="#">ZARA</a>
            </li>
          </ul>
        </div>
      </div>
      <% } %> <%- contents %> <% if (title === "D'PERFUME" || title ===
      "Products") { %>
      <div class="subscribe d-flex align-items-end">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-12 text-dark">
              <p class="h2 text-nowrap">記得<br />訂閱以獲取更多資訊！</p>
              <div class="input-group mb-3">
                <input
                  type="email"
                  class="form-control border-primary subscribeEmail"
                  placeholder="Your email address"
                  aria-label="Your email address"
                  aria-describedby="basic-addon2"
                />
                <div class="input-group-append">
                  <span
                    class="input-group-text bg-primary text-white border-primary"
                    id="basic-addon2"
                    >Subscribe</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } else { %> <% } %>
    </main>

    <footer class="footer bg-primary mt-auto">
      <div class="container py-2">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <h3>
              <a href="index.html" class="brightness logo mr-4 mr-md-3"
                >D'PERFUME</a
              >
            </h3>
            <small class="text-white">© 2020. All Rights Reserved.</small>
          </div>
          <div class="d-none d-md-block px-0">
            <ul class="nav">
              <li class="nav-item h5">
                <a class="nav-link text-white" href="products.html">Product</a>
              </li>
              <li class="nav-item h5">
                <a class="nav-link text-white" href="#">Blog</a>
              </li>
              <li class="nav-item h5">
                <a class="nav-link text-white" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
    <script>
      AOS.init({
        once: true,
      });
    </script>
  </body>
</html>
