*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  @include breakpoint (xsphone){
    font-size: 12px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
