.banner {
  background-image: url('../images/banner.png');
  padding: 295px 0;
  color: $white;
  @include breakpoint(phone) {
    padding: 101px 0;
  }
  .shopBtn {
    width: 80%;
    @include borderSize-lg(2px, #fff);
    font-size: 28px;
    color: $white;
    @include breakpoint(phone) {
      width: 100%;
    }
  }
}
