.banner {
  background-image: url('../images/banner.png');
  height: calc(100vh - 64px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $white;
  @include breakpoint(phone) {
    background-image: url('../images/banner-sm.png');
  }
  .shopBtn {
    width: 80%;
    @include borderSize-lg(2px, #fff);
    font-size: 28px;
    color: $white;
    @include breakpoint(phone) {
      width: 100%;
    }
  }
}
